@model DatabaseEditorModel

@if (Context.Session.GetString("Username") is null || Context.Session.GetString("Admin") != "true")
{
    <h3>You must be logged in and be an admin to view this page</h3>
}
else
{
    @using (Html.BeginForm("DataBaseEditor", "Login", FormMethod.Post))
    {
        @Html.LabelFor(model => model.SelectedTable, "Select an item:")
        @Html.DropDownListFor(model => model.SelectedTable, Model.TableList, "Please select an item", new { @class = "form-control" })

        <br/>

        <input type="submit" value="Submit" class="btn btn-primary"/>
    }
}


@if (!string.IsNullOrEmpty(ViewBag.Error))
{
    <p>@ViewBag.Error</p>
}