@{
    ViewData["Title"] = "Home Page";
}

@if (ViewData["username"] is null)
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>To view available boardgames please log in.</p>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>To view available boardgames please check the Data tab.</p>
    </div>
}